*{
    margin: 0px;
    padding: 0px;
}

html,body{
    font-family: 'Exo', sans-serif;
    background-color: white;
    width: 100%;
    height: 100%;  
    animation: fadeIn; 
    animation-duration: 1s;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='2'%3E%3Cpath transform='translate(0 0)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='4' transform='rotate(0 800 450)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(0 0)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='4'%3E%3Cpath transform='translate(0 0)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='8' transform='rotate(0 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='rotate(0 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}


section{
    height: 100%;
    width: 100%;
    /* align-items: center; */
    /* text-align: center; */
}
#DatosPersonales{   
    width: 100%;
    margin: 0 auto;
}


#TestName{
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
}
#NombrePeriodoActual{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.Entry{
    border-radius: 10px;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    color: black;
    text-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.Combobox{
    border-radius: 10px;
    width: 60%;
    height: 40px;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 16px;
    /* border: 1px; */
    margin-bottom: 15px;
}

#Subir{
    display: none;
    }

#ContenedorBotones{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 1%;
}

.download-button {
    position: relative;
    border-width: 0;
    margin-right: 25px;
    margin-top: 10px;

    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
   }
   
   .download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #242a35;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   }
   
   .download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #01e056;
    border: solid 1px #01e0572d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
   }
   
   .download-button:hover .download {
    transform: translateY(100%)
   }
   
   .download svg polyline,.download svg line {
    animation: docs 1s infinite;
   }
   
   @keyframes docs {
    0% {
     transform: translateY(0%);
    }
   
    50% {
     transform: translateY(-15%);
    }
   
    100% {
     transform: translateY(0%);
    }
   }


/* From uiverse.io by @Custyyyy */
.button {
    display: inline-block;
    border-radius: 5px;
    margin-right: 25px;
    margin-top: 10px;
    border: none;
    background: #242a35;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13.3px;
    font-weight: 600;
    box-shadow: 0px 14px 56px -11px #1875FF;
    width: 14em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }

   #TestInteresProfesional{
    width: 19em;

   }
   
   .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button span:after {
    content: 'Ver';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   .button:hover span {
    padding-right: 3.55em;
   }
   
   .button:hover span:after {
    opacity: 4;
    right: 0;
   }
   

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 20rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }

   
 
   #ContenedorTabla{
       text-align: center;
       width: 100%;
       height: 350px;
       overflow-y: auto;
       overflow-x: auto;

   }
   table{
       background-color: #ffffff;
       text-align: center;
       border-collapse: collapse;
       width: 80%;
       height: 2%;
       margin-left: 10%;
   }

   th,td{
       padding: 20px;
   }

   thead{
       background-color: #002853;       
       border-bottom: solid 5px #000000;
       color: #ffffff;
   }

 
   tr:hover{
       background-color: #35dba4;
       color: #ffffff;
   }